In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import requests
import json

In [2]:
# Read in Data
zillow = pd.read_csv('clean_data.csv', header=0)
crime = pd.read_csv('full_crime_data.csv', header=0)
education = pd.read_csv('education_data/Education_data.csv', header=0)

In [3]:
zillow.head()

,parcelid,logerror,transactiondate,airconditioningtypeid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,...,unitcnt,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,censustractandblock
0,11016594,0.0276,2016-01-01,1.0,2.0,3.0,4.0,2.0,1684.0,1684.0,...,1.0,1959.0,1.0,0,122754.0,360170.0,237416.0,6735.88,0,6.037107e+13
1,14366692,-0.1684,2016-01-01,1.0,3.5,4.0,7.0,3.5,2263.0,2263.0,...,1.0,2014.0,1.0,0,346458.0,585529.0,239071.0,10153.02,0,6.037615e+13
2,12098116,-0.0040,2016-01-01,1.0,3.0,2.0,4.0,3.0,2217.0,2217.0,...,1.0,1940.0,1.0,0,61994.0,119906.0,57912.0,11484.48,0,6.037464e+13
3,12643413,0.0218,2016-01-02,1.0,2.0,2.0,4.0,2.0,839.0,839.0,...,1.0,1987.0,1.0,0,171518.0,244880.0,73362.0,3048.74,0,6.037296e+13
4,14432541,-0.0050,2016-01-02,1.0,2.5,4.0,7.0,2.5,2283.0,2283.0,...,1.0,1981.0,2.0,0,169574.0,434551.0,264977.0,5488.96,0,6.059042e+13

In [5]:
crime = crime.rename(columns = {'Unnamed: 0':'regionidcounty'})
crime.head()

,regionidcounty,Violent Crimes,Homicide,Rape (Forcible Rape prior to 2014),Robbery,Aggravated Assault,Property Crimes,Burglary,Motor Vehicle Theft,Larceny-Theft,Arson,Law Enforcement,Police Dept,Sheriff's Dept,Prosecution,Public Defense,Probation Dept
0,LA County,"56,351",622,"4,153","20,147","31,429","252,224","46,918","47,496","157,810","2,360","36,253","19,219","16,721","2,040","1,040","5,466"
1,Ventura County,"2,192",31,269,725,"1,167","16,415","2,910","1,650","11,855",113,"2,037",744,"1,247",257,103,390
2,Orange County,"7,275",57,810,"2,136","4,272","66,054","11,025","8,522","46,507",269,"7,439","3,718","3,622",760,385,"1,175"

In [6]:
education = education.rename(columns = {'Unnamed: 0':'regionidcounty'})
education.head()

,regionidcounty,Adjusted Grade 7 Dropouts,Adjusted Grade 8 Dropouts,Adjusted Grade 9 Dropouts,Adjusted Grade 10 Dropouts,Adjusted Grade 11 Dropouts,Adjusted Grade 12 Dropouts,Adjusted Ungraded Secondary Dropouts,Adjusted Grade 9-12 Dropout Total,Grade 9-12 Enrollment Total,...,Enrolled In College (Out of State),No Record of College Enrollment,Grade 11-Literacy Assesment Exceeded,Grade 11-Literacy Assesment Met,Grade 11-Literacy Assesment Nearly Met,Grade 11-Literacy Assesment Not Met,Grade 11-Math Assesment Exceeded,Grade 11-Math Assesment Met,Grade 11-Math Assesment Nearly Met,Grade 11-Math Assesment Not Met
0,LA County,542,325,4022,2565,2720,6645,104,16056,487114,...,5.50%,32.70%,24%,34%,23%,18%,11%,19%,25%,44%
1,Ventura County,21,11,26,38,114,693,19,890,44726,...,8.40%,25.80%,32%,34%,20%,14%,12%,20%,25%,43%
2,Orange County,65,42,110,204,434,1455,20,2223,162866,...,9%,24%,25%,33%,23%,19%,19%,24%,24%,34%
3,California Total,1506,1155,6952,5345,8057,29906,286,50546,1947325,...,6.60%,33.10%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
first_merge = pd.merge(education, crime, on='regionidcounty')
final_data = pd.merge(zillow, first_merge, on='regionidcounty')

In [8]:
final_data

,parcelid,logerror,transactiondate,airconditioningtypeid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,...,Burglary,Motor Vehicle Theft,Larceny-Theft,Arson,Law Enforcement,Police Dept,Sheriff's Dept,Prosecution,Public Defense,Probation Dept
0,11016594,0.0276,2016-01-01,1.0,2.0,3.0,4.0,2.0,1684.0,1684.0,...,"46,918","47,496","157,810","2,360","36,253","19,219","16,721","2,040","1,040","5,466"
1,12098116,-0.0040,2016-01-01,1.0,3.0,2.0,4.0,3.0,2217.0,2217.0,...,"46,918","47,496","157,810","2,360","36,253","19,219","16,721","2,040","1,040","5,466"
2,12643413,0.0218,2016-01-02,1.0,2.0,2.0,4.0,2.0,839.0,839.0,...,"46,918","47,496","157,810","2,360","36,253","19,219","16,721","2,040","1,040","5,466"
3,11509835,-0.2705,2016-01-02,1.0,4.0,4.0,1.0,4.0,3067.0,3067.0,...,"46,918","47,496","157,810","2,360","36,253","19,219","16,721","2,040","1,040","5,466"
4,12286022,0.0440,2016-01-02,1.0,1.0,2.0,7.0,1.0,1297.0,1297.0,...,"46,918","47,496","157,810","2,360","36,253","19,219","16,721","2,040","1,040","5,466"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90270,17146473,-0.0070,2016-12-30,1.0,2.5,3.0,7.0,2.5,1853.0,1853.0,...,"2,910","1,650","11,855",113,"2,037",744,"1,247",257,103,390
90271,17253613,0.0178,2016-12-30,1.0,2.0,4.0,7.0,2.0,1514.0,1514.0,...,"2,910","1,650","11,855",113,"2,037",744,"1,247",257,103,390
90272,17182690,0.0030,2016-12-30,1.0,2.5,4.0,7.0,2.5,1783.0,1783.0,...,"2,910","1,650","11,855",113,"2,037",744,"1,247",257,103,390
90273,17182881,-0.0111,2016-12-30,1.0,2.0,3.0,7.0,2.0,1381.0,1381.0,...,"2,910","1,650","11,855",113,"2,037",744,"1,247",257,103,390
90274,17109680,0.0010,2016-12-30,1.0,2.0,4.0,7.0,2.0,1830.0,1830.0,...,"2,910","1,650","11,855",113,"2,037",744,"1,247",257,103,390

In [9]:
longitude = final_data['longitude']
latitude = final_data['latitude']

In [10]:
longitude_list = []
latitude_list = []

for i in range(0,len(final_data)):
    lat_num = (latitude[i])
    lat_num = str(lat_num)[0:2]+'.'+str(lat_num)[2:8]
    lat_num = pd.to_numeric(lat_num)
    latitude_list.append(lat_num)
    
    long_num = (longitude[i])
    long_num = str(long_num)[0:4]+'.'+str(long_num)[4:10]
    long_num = pd.to_numeric(long_num)
    longitude_list.append(long_num)

In [207]:
coord_list = ""
address_list = []
startpoint = 0
endpoint = 100
MAPQUEST_API_KEY = 'XfP5gtj9agAxxwG9A6owWcjk1B74tAc2'

while endpoint <= 90200:
    for i in range(startpoint,endpoint):
        coord_list += '&location='+str(latitude_list[i])+','+str(longitude_list[i])
        
    url = ('http://www.mapquestapi.com/geocoding/v1/batch?key=' + MAPQUEST_API_KEY + coord_list)
    mapquest_req = requests.get(url)
    json_dict = json.loads(mapquest_req.text)
    json_results = json_dict['results']
    
    
    for j in range(0,100):
        address_list.append(json_results[j]['locations'][0]['street'] + ", " + json_results[j]['locations'][0]['adminArea5'] + " " +json_results[j]['locations'][0]['adminArea3'] + " " + json_results[j]['locations'][0]['postalCode'])
    
    coord_list = ""
    endpoint += 100
    startpoint += 100

In [213]:
final_data['address'] = address_list

In [218]:
final_data.head()

,parcelid,logerror,transactiondate,airconditioningtypeid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,...,Motor Vehicle Theft,Larceny-Theft,Arson,Law Enforcement,Police Dept,Sheriff's Dept,Prosecution,Public Defense,Probation Dept,address
0,11016594,0.0276,2016-01-01,1.0,2.0,3.0,4.0,2.0,1684.0,1684.0,...,"47,496","157,810","2,360","36,253","19,219","16,721","2,040","1,040","5,466","16358 Halsey St, Granada Hills CA 91344-3030"
1,12098116,-0.0040,2016-01-01,1.0,3.0,2.0,4.0,3.0,2217.0,2217.0,...,"47,496","157,810","2,360","36,253","19,219","16,721","2,040","1,040","5,466","1211 Nithsdale Rd, Pasadena CA 91105-1463"
2,12643413,0.0218,2016-01-02,1.0,2.0,2.0,4.0,2.0,839.0,839.0,...,"47,496","157,810","2,360","36,253","19,219","16,721","2,040","1,040","5,466","28974 S Western Ave, Rancho Palos Verdes CA 90..."
3,11509835,-0.2705,2016-01-02,1.0,4.0,4.0,1.0,4.0,3067.0,3067.0,...,"47,496","157,810","2,360","36,253","19,219","16,721","2,040","1,040","5,466","2288 Monterey Blvd, Hermosa Beach CA 90254-2632"
4,12286022,0.0440,2016-01-02,1.0,1.0,2.0,7.0,1.0,1297.0,1297.0,...,"47,496","157,810","2,360","36,253","19,219","16,721","2,040","1,040","5,466","502 N Mayo Ave, Compton CA 90221-2741"

In [221]:
final_data.to_csv('final_data.csv', encoding='utf-8', index=True)